/* In your global CSS file */
html {
  background-color: var(--background-color);
}

body {
  background-color: inherit;
  transition: background-color 0.3s ease;
}

[data-theme="dark"] {
  --background-color: #121212;
  color: whitesmoke;

}

[data-theme="light"] {
  --background-color: #ffffff;
  color: #1e1e1e;
}


:root {
  color-scheme: dark light;
  --bg-color: #ffffff;
}

* {
  transition: background-color 0.3s ease, color 0.15s ease;
}